<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cafe.imagefilter"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.cafe.imagefilter.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/sjb_ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/VirgoAppTheme" >
        <activity
            android:name="com.cafe.imagefilter.activity.StartScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityAlphaBackground"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cafe.imagefilter.fragmentactivity.MainPageActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityAlphaBackground"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.cafe.imagefilter.activity.CropUserImageActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityAlphaBackground" />
        <activity
            android:name="com.cafe.imagefilter.activity.PubImageSettingACtivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityAlphaBackground" />
        <activity
            android:name="com.cafe.imagefilter.activity.PubGetImageFromPhoneACtivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>